// Admin fixes for Drupal using Bootstrap

body.admin-menu {
  margin-top: 28px !important;
  .navbar-fixed-top {
    top: 30px;
  }
}

body #admin-menu {
  z-index: 4500 !important;
}

#admin-menu .dropdown li li.expandable ul {
  margin-top: -29px;
}

