{
  "extends": [
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "window": true,
    "Drupal": true,
    "drupalSettings": true,
    "drupalTranslations": true,
    "domready": true,
    "jQuery": true,
    "_": true,
    "matchMedia": true,
    "Backbone": true,
    "Modernizr": true,
    "CKEDITOR": true,
    "WOW": true
  },
}
