.idea
deploy.sh
node_modules
.build-done

# SASS Cache
*.sass-cache*

# OS specific stuff
.DS_Store
Thumbs.db

/out

# CSS files. these will now be included so they are downloaded during composer installation
# /css

# JS Files. these will now be included so they are downloaded during composer installation
# /js/minified/*
