@import "../includes/variables";

.wrap-containers {
  .caret {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    border: none;
    cursor: pointer;
    width: 45px;
    height: 45px;

    &:after {
      content: "﹀";
      pointer-events: none;
      position: relative;
      top: 12px;
      left: 16px;
      font-size: 12px;
    }
  }

  .open {
    .caret {
      transform: rotate(180deg);
    }
  }

  ul.nav.menu {
    li.expanded {
      position: relative;

      .dropdown-menu {
        position: relative;
        float: none;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        border: none;
        background-color: transparent;
        margin: 0;

        li {
          float: none;
        }
      }
    }
  }
}
