@use 'sass:math';
@use 'sass:string';
@use 'sass:map';

// Variables
// --------------------------------------------------

// Main colors
// -------------------------
$primary: #284ed9; // Google Material Design Green 300
$accent1: #05e993; // Google Material Design Green 600
$accent2: #284fd8; // Google Material Design Green 900

// Material Design Layer Drop Shadows
$dxpr-theme-shadow-1: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
$dxpr-theme-shadow-2: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
$dxpr-theme-shadow-3: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
$dxpr-theme-shadow-4: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
$dxpr-theme-shadow-5: 0 19px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);

// Global values
// --------------------------------------------------

// Grays
// -------------------------

// using string literals for colors because color module doesn't handle short colors properly
// http: //stackoverflow.com/questions/9611571/can-i-turn-off-sass-rgb-color-name
$body-background: #{'#efefef'};
$header-color: #{'#ffffff'};
$header-text-color: #{'#696969'};
$header-side-color: #{'#20252a'};
$header-side-text-color: #{'#737a85'};
$page-title-color: #{'#284fdb'};
$page-title-text-color: #{'#fffeff'};
$gray-darker: #{'#222222'};
$gray-dark: #{'#303030'};
$text: #{'#555555'};
$text-headings: #{'#333333'};
$footer: #{'#21252a'};
$footer-text: #{'#747a85'};
$secondary-header: #{'#284fd9'};
$secondary-header-text: #{'#fffffe'};
$gray-light: #{'#cccccc'};
$gray-lighter: #{'#dddddd'};
$card: #{'#eeeeee'};
$card-text: #{'#444444'};
$black: #{'#111111'};
$silver: #{'#f1f1f1'};

// Default color scheme map.
$default-color-map: (
  "base": $primary,
  "basetext": #fff,
  "basesubtle": #e6f0ff,
  "basesubtletext": #1e40af,
  "link": $primary,   // @todo Needs review.
  "accent1": $accent1,
  "accent1text": #fff,
  "accent1subtle": #e6fff9,
  "accent1subtletext": #047857,
  "accent2": $accent2,
  "accent2text": #fff,
  "accent2subtle": #e6f0ff,
  "accent2subtletext": #1e40af,
  "body": $body-background,
  "header": $header-color,
  "headertext": $header-text-color,
  "headerside": $header-side-color,
  "headersidetext": $header-side-text-color,
  "pagetitle": $page-title-color,
  "pagetitletext": $page-title-text-color,
  "text": $text,
  "headings": $text-headings,
  "headingssubtle": #f3f4f6,
  "headingssubtletext": #4b5563,
  "footer": $footer,
  "footertext": $footer-text,
  "secheader": $secondary-header,
  "secheadertext": $secondary-header-text,
  "graylight": $gray-light,
  "graylighter": $gray-lighter,
  "card": $card,
  "cardtext": $card-text,
  "silver": $silver,
);

// Returns a css color variable assignment for given key.
@function dxpr-color($key) {
  @if map.has-key($default-color-map, $key) {
    @return string.unquote("var(--dxt-color-#{$key})");
  } @else {
    @warn "Invalid color key \"#{$key}\".";
    @return string.unquote("inherit");
  }
}

// Typography
// -------------------------

$font-size-base: 16px;
$font-size-large: math.ceil($font-size-base * 1.25); // ~18px
$font-size-small: math.ceil($font-size-base * 0.85); // ~12px

$font-size-h1: math.floor($font-size-base * 2.6); // ~36px
$font-size-h2: math.floor($font-size-base * 2.15); // ~30px
$font-size-h3: math.ceil($font-size-base * 1.7); // ~24px
$font-size-h4: math.ceil($font-size-base * 1.25); // ~18px
$font-size-h5: $font-size-base;
$font-size-h6: math.ceil($font-size-base * 0.85); // ~12px

// Components
// -------------------------

$border-radius-base: 4px;

// Grid system
// --------------------------------------------------

$grid-gutter-width: 30px;

// Tabs
// -------------------------

$nav-tabs-border-color: #ddd;
$nav-tabs-link-hover-border-color: $gray-lighter;
